<head>
    <base href="./../../../../../src/">
    <meta charset="utf-8" />
    <title>Metronic | Basic Calendar</title>
    <meta name="description" content="Basic calendar examples">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--begin::Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700">

    <!--end::Fonts -->
    <!--begin::Page Vendors Styles(used by this page) -->
    <!--end::Page Vendors Styles -->
    <!--begin::Global Theme Styles(used by all pages) -->
    <!--begin:: Vendor Plugins -->
    <link href="./../../../../assets/plugins/general/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/tether/dist/css/tether.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/bootstrap-datetime-picker/css/bootstrap-datetimepicker.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/select2/dist/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/nouislider/distribute/nouislider.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/owl.carousel/dist/assets/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/owl.carousel/dist/assets/owl.theme.default.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/quill/dist/quill.snow.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/@yaireo/tagify/dist/tagify.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/summernote/dist/summernote.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/animate.css/animate.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/toastr/build/toastr.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/dual-listbox/dist/dual-listbox.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/morris.js/morris.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/sweetalert2/dist/sweetalert2.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/socicon/css/socicon.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/plugins/line-awesome/css/line-awesome.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/plugins/flaticon/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/plugins/flaticon2/flaticon.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/general/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />

    <!--end:: Vendor Plugins -->
    <link href="./../../../../assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--begin:: Vendor Plugins for custom pages -->
    <link href="./../../../../assets/plugins/custom/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/@fullcalendar/core/main.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/@fullcalendar/daygrid/main.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/@fullcalendar/list/main.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/@fullcalendar/timegrid/main.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-autofill-bs4/css/autoFill.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-colreorder-bs4/css/colReorder.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-fixedcolumns-bs4/css/fixedColumns.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-fixedheader-bs4/css/fixedHeader.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-keytable-bs4/css/keyTable.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-rowgroup-bs4/css/rowGroup.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-rowreorder-bs4/css/rowReorder.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-scroller-bs4/css/scroller.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/jstree/dist/themes/default/style.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/jqvmap/dist/jqvmap.css" rel="stylesheet" type="text/css" />
    <link href="./../../../../assets/plugins/custom/uppy/dist/uppy.min.css" rel="stylesheet" type="text/css" />

    <!--end:: Vendor Plugins for custom pages -->
    <!--end::Global Theme Styles -->
    <!--begin::Layout Skins(used by all pages) -->
    <!--end::Layout Skins -->
    <link rel="shortcut icon" href="./../../../../assets/media/logos/favicon.ico" />
</head>

<!--  لوحة رئيس القسم -->
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733; <b>التحضيرات</b> &#9733;</span>
                <!--<span><b>التحضيرات</b></span>-->
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-ta7deirs-list></kt-ta7deirs-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc1="ngbAccordion" activeIds="ngb-panel-1">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>الأذونات</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-ezons-list></kt-show-ezons-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc2="ngbAccordion" activeIds="ngb-panel-2">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>جدول الحصص</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar-gdwel_7ss></app-calendar-gdwel_7ss>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc3="ngbAccordion" activeIds="ngb-panel-3">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>الزيارات</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-visits-list></kt-show-visits-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc4="ngbAccordion" activeIds="ngb-panel-4">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>الأجتماعات</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-group_meeting-list></kt-show-group_meeting-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc5="ngbAccordion" activeIds="ngb-panel-5">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>أمور خاصة بالطلاب</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-matters-list></kt-show-matters-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc6="ngbAccordion" activeIds="ngb-panel-6">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>ما يستجد من أعمال</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-new_work-list></kt-show-new_work-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>


<ngb-accordion #acc7="ngbAccordion" activeIds="ngb-panel-7">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>المتعلمين</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="form-group kt-form__group row">
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الفصول : {{number_of_classes}}
                    </label>
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الغياب : {{number_of_absence}}
                    </label>
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الحضور : {{number_of_attendance}}
                    </label>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc8="ngbAccordion" activeIds="ngb-panel-8">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>احصائيات</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="form-group kt-form__group row">
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد المتفوقين : {{number_of_good_students}}
                    </label>
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد المتعثرين : {{number_of_bad_students}}
                    </label>

                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc9="ngbAccordion" activeIds="ngb-panel-9">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>الاعياد</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar></app-calendar>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc10="ngbAccordion" activeIds="ngb-panel-10">
    <div *ngIf="pos_id===38 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>أخبار عامة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">

                        <div class="box" style="height:33rem;">
                            <p class="box-title">أخبار عامة</p>
                            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" style="height:27rem;" onmouseout="this.start();">
                                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
                            </marquee>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>


<!-- لوحة أمين المكتبة -->
<ngb-accordion #acc11="ngbAccordion" activeIds="ngb-panel-11">
    <div *ngIf="test===1 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>جدول الحصص</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar></app-calendar>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc12="ngbAccordion" activeIds="ngb-panel-12">
    <div *ngIf="test===1 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>أخبار عامة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">

                        <div class="box" style="height:33rem;">
                            <p class="box-title">أخبار عامة</p>
                            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" style="height:27rem;" onmouseout="this.start();">
                                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
                            </marquee>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>



<!-- لوحة الاخصائي الاجتماعي والنفسي -->

<ngb-accordion #acc13="ngbAccordion" activeIds="ngb-panel-13">
    <div *ngIf="test===1 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>جدول الحصص</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar></app-calendar>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc14="ngbAccordion" activeIds="ngb-panel-14">
    <div *ngIf="test===1 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>أخبار عامة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">

                        <div class="box" style="height:33rem;">
                            <p class="box-title">أخبار عامة</p>
                            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" style="height:27rem;" onmouseout="this.start();">
                                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
                            </marquee>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc15="ngbAccordion" activeIds="ngb-panel-15">
    <div *ngIf="test===1 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>استدعاء أولياء الامور</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-calling_parents-list></kt-calling_parents-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>



<!--لوحة المدير/ المدراء المساعدين -->
<ngb-accordion #acc16="ngbAccordion" activeIds="ngb-panel-16">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>المتعلمين</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="form-group kt-form__group row">
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الغياب : {{number_of_absence}}
                    </label>
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الحضور : {{number_of_attendance}}
                    </label>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc17="ngbAccordion" activeIds="ngb-panel-17">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>جدول الحصص</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar-gdwel_7ss></app-calendar-gdwel_7ss>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc18="ngbAccordion" activeIds="ngb-panel-18">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>افادات التأخير</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-delays-list></kt-show-delays-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc19="ngbAccordion" activeIds="ngb-panel-19">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>الأذونات</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-ezons-list></kt-show-ezons-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc20="ngbAccordion" activeIds="ngb-panel-20">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>الزيارات</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-visits-list></kt-show-visits-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc21="ngbAccordion" activeIds="ngb-panel-21">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>الأجتماعات</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-group_meeting-list></kt-show-group_meeting-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc22="ngbAccordion" activeIds="ngb-panel-22">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>أمور خاصة بالطلاب</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-matters-list></kt-show-matters-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>
<ngb-accordion #acc23="ngbAccordion" activeIds="ngb-panel-23">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>ما يستجد من أعمال</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-new_work-list></kt-show-new_work-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>
<ngb-accordion #acc24="ngbAccordion" activeIds="ngb-panel-24">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>المستخدمين</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-show-users_priv-list></kt-show-users_priv-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>
<ngb-accordion #acc25="ngbAccordion" activeIds="ngb-panel-25">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>جدول الحصص</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar></app-calendar>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>
<ngb-accordion #acc26="ngbAccordion" activeIds="ngb-panel-26">
    <div *ngIf="pos_id===39 || pos_id===40 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>أخبار عامة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">

                        <div class="box" style="height:33rem;">
                            <p class="box-title">أخبار عامة</p>
                            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" style="height:27rem;" onmouseout="this.start();">
                                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
                            </marquee>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>



<!--  المعلم -->
<ngb-accordion #acc27="ngbAccordion" activeIds="ngb-panel-27">
    <div *ngIf="pos_id===37 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>خطة المنهج</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-week-ta7deirs-list></kt-week-ta7deirs-list>
                <kt-actual_weekTa7diers-list></kt-actual_weekTa7diers-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc28="ngbAccordion" activeIds="ngb-panel-28">
    <div *ngIf="pos_id===37 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>جدول الحصص</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar-gdwel_7ss></app-calendar-gdwel_7ss>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc29="ngbAccordion" activeIds="ngb-panel-29">
    <div *ngIf="pos_id===37 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>المتعلمين</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="form-group kt-form__group row">
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الفصول : {{number_of_classes}}
                    </label>
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الغياب : {{number_of_absence}}
                    </label>
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الحضور : {{number_of_attendance}}
                    </label>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc30="ngbAccordion" activeIds="ngb-panel-30">
    <div *ngIf="pos_id===37 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>احصائيات</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="form-group kt-form__group row">
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد المتفوقين : {{number_of_good_students}}
                    </label>
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد المتعثرين : {{number_of_bad_students}}
                    </label>

                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc31="ngbAccordion" activeIds="ngb-panel-31">
    <div *ngIf="pos_id===37 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>رزنامة المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar></app-calendar>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>


<ngb-accordion #acc32="ngbAccordion" activeIds="ngb-panel-32">
    <div *ngIf="pos_id===37 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>لوحة اعلانات المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">

                        <div class="box" style="height:33rem;">
                            <p class="box-title">أخبار عامة</p>
                            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" style="height:27rem;" onmouseout="this.start();">
                                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
                            </marquee>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc33="ngbAccordion" activeIds="ngb-panel-33">
    <div *ngIf="pos_id===37 || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>قيمة الشهر التربوية</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>


<!-- شئون الطلبة -->
<ngb-accordion #acc34="ngbAccordion" activeIds="ngb-panel-34">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>المتعلمين</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="form-group kt-form__group row">
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الفصول : {{number_of_classes}}
                    </label>
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الغياب : {{number_of_absence}}
                    </label>
                    <label style="font-weight: bold;" class="col-lg-2 col-form-label">
                        اعداد الحضور : {{number_of_attendance}}
                    </label>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc35="ngbAccordion" activeIds="ngb-panel-35">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>رزنامة المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar></app-calendar>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc36="ngbAccordion" activeIds="ngb-panel-36">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>أخبار عامة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">

                        <div class="box" style="height:33rem;">
                            <p class="box-title">أخبار عامة</p>
                            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" style="height:27rem;" onmouseout="this.start();">
                                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
                            </marquee>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc37="ngbAccordion" activeIds="ngb-panel-37">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>استدعاء اولياء الامور</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-calling_parents-list></kt-calling_parents-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>


<!-- المقصف المدرسي -->
<ngb-accordion #acc38="ngbAccordion" activeIds="ngb-panel-38">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>رزنامة المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar></app-calendar>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc39="ngbAccordion" activeIds="ngb-panel-39">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>لوحة اعلانات المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">

                        <div class="box" style="height:33rem;">
                            <p class="box-title">أخبار عامة</p>
                            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" style="height:27rem;" onmouseout="this.start();">
                                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
                            </marquee>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>



<!--  الخطة الاستراتيجية -->
<ngb-accordion #acc40="ngbAccordion" activeIds="ngb-panel-40">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>رزنامة المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar></app-calendar>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc41="ngbAccordion" activeIds="ngb-panel-41">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>لوحة اعلانات المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">

                        <div class="box" style="height:33rem;">
                            <p class="box-title">أخبار عامة</p>
                            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" style="height:27rem;" onmouseout="this.start();">
                                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
                            </marquee>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>


<!-- حارس المدرسة -->
<ngb-accordion #acc42="ngbAccordion" activeIds="ngb-panel-42">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>استدعاء اولياء الامور</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <kt-calling_parents-list></kt-calling_parents-list>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>


<!-- السكرتارية -->
<ngb-accordion #acc43="ngbAccordion" activeIds="ngb-panel-43">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>رزنامة المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar></app-calendar>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc44="ngbAccordion" activeIds="ngb-panel-44">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>لوحة اعلانات المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">

                        <div class="box" style="height:33rem;">
                            <p class="box-title">أخبار عامة</p>
                            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" style="height:27rem;" onmouseout="this.start();">
                                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
                            </marquee>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<!-- امين المخزن-->
<ngb-accordion #acc45="ngbAccordion" activeIds="ngb-panel-45">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>رزنامة المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
                <app-calendar></app-calendar>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>

<ngb-accordion #acc46="ngbAccordion" activeIds="ngb-panel-46">
    <div *ngIf="test===1  || pos_id===35">
        <ngb-panel>
            <ng-template ngbPanelTitle>
                <span>&#9733;<b>لوحة اعلانات المدرسة</b>&#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>

                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                    <div class="kt-grid__item kt-grid__item--middle">

                        <div class="box" style="height:33rem;">
                            <p class="box-title">أخبار عامة</p>
                            <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" style="height:27rem;" onmouseout="this.start();">
                                <h3 *ngFor="let adverts of adverts" class="article-title">{{adverts.body}}</h3>
                            </marquee>
                        </div>

                    </div>
                </div>
            </ng-template>
        </ngb-panel>

    </div>
</ngb-accordion>




