<div class="card" dir="rtl" *ngIf="priv_info.length > 0 && (priv_info[0].write === 1 || priv_info[0].read_and_write === 1)">
    <div class="card-header">
        <h3 style="display:flex;">الطلاب الفائقون دراسيا</h3>
    </div>
    <div class="card-body">
        <button type="button" style="display:block;" class="btn btn-primary"  id="modalOpener" (click)="openModal(content, $event)" >اضافة طلاب فائقون دراسيا</button>
        <br />

    </div>
</div>

<ng-template #content let-modal>

            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    <i class="fas fa-tasks" style="margin:5px;"></i>
                    اضافة طلاب فائقون دراسيا
                </h3>
            </div>

            <div class="modal-body">
                <form dir="rtl" class="kt-form" [formGroup]="form1">
                    <div dir="rtl" class="kt-portlet__body">
                        <div class="kt-form__section kt-form__section--first">

                            <div class="form-group kt-form__group text-right">

                                <div class="container">
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">الصف:</label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <input name="level"
                                                               type="text"
                                                               matInput
                                                               [(ngModel)]="selectedlevel"
                                                               (ngModelChange)="change_level($event)"
                                                               placeholder="أختر الصف"
                                                               [formControl]="myControllev"
                                                               [matAutocomplete]="autolevel"
                                                               forceSelection="lev_name"
                                                               [(value)]="levelValue">
                                                        <mat-autocomplete autoActiveFirstOption #autolevel="matAutocomplete" [displayWith]="displayFnlev">
                                                            <mat-option *ngFor="let level of filteredOptionslev  | async" [value]="level">
                                                                {{ level.lev_name }}
                                                            </mat-option>
                                                        </mat-autocomplete>



                                                    </mat-form-field>
                                                </div>
                                                <div class="col-1"><!--extra div--></div>
                                                <label class="col-lg-1 col-form-label">الفصل:</label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <input name="class"
                                                               type="text"
                                                               matInput
                                                               [(ngModel)]="selectedclass"
                                                               (ngModelChange)="change_class($event)"
                                                               placeholder="أختر الفصل"
                                                               [formControl]="myControlclass"
                                                               [matAutocomplete]="autoclass"
                                                               forceSelection="class_name"
                                                               [(value)]="classValue">
                                                        <mat-autocomplete autoActiveFirstOption #autoclass="matAutocomplete" [displayWith]="displayFnclass">
                                                            <mat-option *ngFor="let class of filteredOptionsclass  | async" [value]="class">
                                                                {{ class.class_name }}
                                                            </mat-option>
                                                        </mat-autocomplete>

                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label"> الطالب:</label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <input name="student"
                                                               type="text"
                                                               matInput
                                                               [(ngModel)]="selectedStudent"
                                                               (ngModelChange)="Change_Student()"
                                                               placeholder="أختر الطالب"
                                                               [formControl]="myControlStudent"
                                                               [matAutocomplete]="autoStudent"
                                                               forceSelection="student"
                                                               [(value)]="studentValue">
                                                        <mat-autocomplete autoActiveFirstOption #autoStudent="matAutocomplete" [displayWith]="displayFnStudent">
                                                            <mat-option *ngFor="let student of filteredOptionsStudents  | async" [value]="student">
                                                                {{ student.student_name }}
                                                            </mat-option>
                                                        </mat-autocomplete>



                                                    </mat-form-field>
                                                </div>
                                                <div class="col-1"><!--extra div--></div>
                                                <label class="col-lg-1 col-form-label">الجنسية:</label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <input matInput
                                                               placeholder="الجنسية"
                                                               [(ngModel)]="nationality"
                                                               formControlName="exc_stu_nation"
                                                               name="nationality"
                                                               [(value)]="nationality">
                                                    </mat-form-field>

                                                </div>
                                            </div>

                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">رقم الهاتف:</label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <input type="text"
                                                               matInput
                                                               placeholder="رقم الهاتف"
                                                               [(ngModel)]="phone"
                                                               formControlName="exc_stu_mob"
                                                               name="phone"
                                                               [(value)]="phone">
                                                    </mat-form-field>

                                                </div>
                                                <div class="col-1"><!--extra div--></div>
                                                <label class="col-lg-1 col-form-label">تاريخ الميلاد:</label>
                                                <div class="col-lg-4">
                                                    <mat-form-field (click)="dp4.open()">
                                                        <input type="text"
                                                               id="date_of_birth"
                                                               [(ngModel)]="student_dob"
                                                               name="student_dob"
                                                               formControlName="exc_stu_birth"
                                                               matInput
                                                               placeholder="تاريخ الميلاد"
                                                               [matDatepicker]="dp4"
                                                               [(value)]="student_dob">
                                                        <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
                                                        <mat-datepicker #dp4 disabled="false"></mat-datepicker>
                                                    </mat-form-field>
                                                </div>

                                            </div>

                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">ملاحظات/وصف:</label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <textarea [(ngModel)]="exc_stu_notes" formControlName="exc_stu_notes" pattern="^[أ-ي-a-zA-Z0-9-_.@_#!?^%$ ]{0,200}"
                                                                  required matInput placeholder="ملاحظات علي جوانب التفوق لدي الطالب" type="email"></textarea>

                                                        <mat-error *ngIf="
        form1.controls.exc_stu_notes.hasError('required') &&
        (form1.controls.exc_stu_notes.dirty || form1.controls.exc_stu_notes.touched)
      ">
                                                            من فضلك ادخل الملاحظات
                                                        </mat-error>
                                                        <mat-error *ngIf="
        form1.controls.exc_stu_notes.hasError('pattern') &&
        (form1.controls.exc_stu_notes.dirty || form1.controls.exc_stu_notes.touched)
      ">
                                                            من فضلك ادخل الملاحظات
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-1"><!--extra div--></div>
                                                <label class="col-lg-1 col-form-label">الجهود المهنية:</label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <textarea [(ngModel)]="exc_stu_eff" formControlName="exc_stu_eff" pattern="^[أ-ي-a-zA-Z0-9-_.@_#!?^%$ ]{0,200}"
                                                                  required matInput placeholder="الجهود المهنية المبذولة ونتائجها" type="email"></textarea>

                                                        <mat-error *ngIf="
        form1.controls.exc_stu_eff.hasError('required') &&
        (form1.controls.exc_stu_eff.dirty || form1.controls.exc_stu_eff.touched)
      ">
                                                           من فضلك ادخل الجهود المهنية
                                                        </mat-error>
                                                        <mat-error *ngIf="
        form1.controls.exc_stu_eff.hasError('pattern') &&
        (form1.controls.exc_stu_eff.dirty || form1.controls.exc_stu_eff.touched)
      ">
                                                            من فضلك ادخل الجهود المهنية
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>

                                            </div>

                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="direction:ltr;">
                <button type="button" style="border-radius: 20px;" (click)="modal.dismiss('Close')" class="btn btn-secondary"
                data-dismiss="modal">
                إغلاق
            </button>
                <button type="button" style="border-radius: 20px;" (click)="update_excstu()" class="btn btn-primary">تعديل</button>
                <button type="button" style="border-radius: 20px;" (click)="add_excstu()" class="btn btn-primary">اضافة</button>


            </div>
        </ng-template>

<div *ngIf="priv_info.length > 0 && (priv_info[0].read === 1 || priv_info[0].read_and_write === 1)">
    <kt-excellent_students-list></kt-excellent_students-list>
</div>