<!-- Start Regime Council Student -->

<div class="row" id="printdiv">
    <div class="col-lg-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-caption">
                    <div class="kt-portlet__head-title">
                        <span class="kt-portlet__head-icon kt-hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-text">
                            طلاب سيتم عرضهم علي مجلس النظام
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="kt-form kt-form--label-align-right" [formGroup]="form1">
                <div class="kt-portlet__body">
                    <div class="kt-form__section kt-form__section--first">

                        <div class="form-group kt-form__group row">
                            <b class="col-lg-2 col-form-label">الصف:</b>
                            <div class="col-lg-6">
                                <mat-form-field >
                                    <input name="level"
                                            type="text"
                                            matInput
                                            [(ngModel)]="selectedlevel"
                                            (ngModelChange)="change_level($event)"
                                            placeholder="أختر الصف"
                                            [formControl]="myControllev"
                                            [matAutocomplete]="autolevel"
                                            forceSelection="lev_name">
                                    <mat-autocomplete autoActiveFirstOption #autolevel="matAutocomplete" [displayWith]="displayFnlev">
                                        <mat-option *ngFor="let level of filteredOptionslev  | async" [value]="level">
                                                {{ level.lev_name }}
                                        </mat-option>
                                    </mat-autocomplete>
        
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row">
                            <b class="col-lg-2 col-form-label">الفصل:</b>
                            <div class="col-lg-6">
                                <mat-form-field >
                                    <input name="class"
                                           type="text"
                                           matInput
                                           [(ngModel)]="selectedclass"
                                           (ngModelChange)="change_class($event)"
                                           placeholder="أختر الفصل"
                                           [formControl]="myControlclass"
                                           [matAutocomplete]="autoclass"
                                           forceSelection="class_name">
                                    <mat-autocomplete autoActiveFirstOption #autoclass="matAutocomplete" [displayWith]="displayFnclass">
                                        <mat-option *ngFor="let class of filteredOptionsclass  | async" [value]="class">
                                            {{ class.class_name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">اسم الطالب :</label>
                            <div class="col-lg-6">
                                <mat-form-field >
                                    <input name="student"
                                           type="text"
                                           matInput
                                           [(ngModel)]="selectedStudent"
                                           (ngModelChange)="Change_Student()"
                                           placeholder="أختر الطالب"
                                           [formControl]="myControlStudent"
                                           [matAutocomplete]="autoStudent"
                                           forceSelection="student">
                                    <mat-autocomplete autoActiveFirstOption #autoStudent="matAutocomplete" [displayWith]="displayFnStudent">
                                        <mat-option *ngFor="let student of filteredOptionsStudents  | async" [value]="student">
                                            {{ student.student_name }}
                                        </mat-option>
                                    </mat-autocomplete>
    
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">الجنسية : </label>
                            <div class="col-lg-6">
                                <mat-form-field >
                                    <input 
                                        matInput 
                                        placeholder="" 
                                        [(ngModel)]="nationality" 
                                        formControlName="nationality" 
                                        name="nationality" 
                                        [(value)]="nationality">
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">نوعية الموقف : </label>
                            <div class="col-lg-6">
                                <mat-form-field >
                                    <mat-select [(ngModel)]="allSlides"
                                                placeholder=""
                                                formControlName="s_code"
                                                [(value)]="selectedSlide">
    
                                        <mat-option *ngFor="let slide of slides" [value]="slide.def_name">
                                            {{ slide.def_name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>  

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label" >تاريخ حدوثة : </label>
                            <div class="col-lg-6">
                                <mat-form-field >
                                    <input id="date" [(ngModel)]="date" name="date" formControlName="date" matInput  [matDatepicker]="dp1">
                                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-form__actions">
                        <div class="row">
                            <div class="col-lg-6">
                                <button id="save_btn" type="button" (click)="AddRegimeCouncilStudent()" mat-raised-button color="primary">حفظ</button>&nbsp;
                                <button id="update_btn" type="button" (click)="UpdateRegimeCouncilStudent()" mat-raised-button color="primary">تعديل</button>&nbsp;
                                <button id="cancel_btn" type="button" (click)="Cancle()" mat-raised-button color="primary">الغاء</button>&nbsp;
                                <button id="reset_btn" mat-raised-button color="primary" type="reset">تراجع</button>&nbsp;

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>

</div>

<kt-RegimeCouncilStudents-list></kt-RegimeCouncilStudents-list>


<!--End Regime Council Student -->
