<div class="card" dir="rtl"
     *ngIf="priv_info.length > 0 && (priv_info[0].write === 1 || priv_info[0].read_and_write === 1)">
    <div class="card-header">
        <h3 style="display:flex;">الارشاد الصفي</h3>
    </div>
    <div class="card-body">
        <button type="button" style="display:block;" class="btn btn-primary"
                (click)="openModal(content, $event)"
                id="modalOpener">
            اضافة ارشاد صفي
        </button>
        <br />
    </div>
</div>

<div *ngIf="priv_info.length > 0 && (priv_info[0].read === 1 || priv_info[0].read_and_write === 1)">

    <kt-instructions-list></kt-instructions-list>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
            <i class="fas fa-tasks" style="margin:5px;"></i>
            اضافة ارشاد صفي
        </h3>
    </div>

    <div class="modal-body">
        <form dir="rtl" class="kt-form" [formGroup]="form1">
            <div dir="rtl" class="kt-portlet__body">
                <div class="kt-form__section kt-form__section--first">

                    <div class="form-group kt-form__group text-right">

                        <div class="container">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="form-group kt-form__group row">
                                        <label class="col-lg-1 col-form-label">المسلسل:</label>
                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <input matInput placeholder="المسلسل" disabled>

                                            </mat-form-field>
                                        </div>
                                        <div class="col-1"></div>
                                        <label class="col-lg-1 col-form-label">الصف:</label>
                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <input name="level"
                                                       type="text"
                                                       matInput
                                                       [(ngModel)]="selectedlevel"
                                                       (ngModelChange)="change_level($event)"
                                                       placeholder="أختر الصف"
                                                       [formControl]="myControllev"
                                                       [matAutocomplete]="autolevel"
                                                       forceSelection="lev_name">
                                                <mat-autocomplete autoActiveFirstOption #autolevel="matAutocomplete" [displayWith]="displayFnlev">
                                                    <mat-option *ngFor="let level of filteredOptionslev  | async" [value]="level">
                                                        {{ level.lev_name }}
                                                    </mat-option>
                                                </mat-autocomplete>

                                            </mat-form-field>

                                        </div>
                                    </div>

                                    <div class="form-group kt-form__group row">
                                        <label class="col-lg-1 col-form-label">الفصل:</label>
                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <input name="class"
                                                       type="text"
                                                       matInput
                                                       [(ngModel)]="selectedclass"
                                                       placeholder="أختر الفصل"
                                                       [formControl]="myControlclass"
                                                       [matAutocomplete]="autoclass"
                                                       forceSelection="class_name">
                                                <mat-autocomplete autoActiveFirstOption #autoclass="matAutocomplete" [displayWith]="displayFnclass">
                                                    <mat-option *ngFor="let class of filteredOptionsclass  | async" [value]="class">
                                                        {{ class.class_name }}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-1"></div>
                                        <label class="col-lg-1 col-form-label">موضوع الجلسه:</label>
                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <textarea pattern="^[أ-ي-a-zA-Z0-9-_.@_#!?^%$ ]{1,200}"
                                                          required [(ngModel)]="topic" formControlName="topic" matInput placeholder="موضوع الجلسه"></textarea>

                                                <mat-error *ngIf="
  form1.controls.topic.hasError('required') &&
  (form1.controls.topic.dirty || form1.controls.topic.touched)
">
                                                    من فضلك ادخل موضوع الجلسه
                                                </mat-error>
                                                <mat-error *ngIf="
  form1.controls.topic.hasError('pattern') &&
  (form1.controls.topic.dirty || form1.controls.topic.touched)
">
                                                    من فضلك ادخل موضوع الجلسه
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>


                                    <div class="form-group kt-form__group row">
                                        <label class="col-lg-1 col-form-label">ملاحظات:</label>
                                        <div class="col-lg-10">
                                            <mat-form-field>
                                                <textarea pattern="^[أ-ي-a-zA-Z0-9-_.@_#!?^%$ ]{1,200}"
                                                          [(ngModel)]="notes" formControlName="notes" matInput placeholder="ملاحظات/وصف"></textarea>
                                             

                                                <mat-error *ngIf="
  form1.controls.notes.hasError('pattern') &&
  (form1.controls.notes.dirty || form1.controls.notes.touched)
">
                                                    من فضلك ادخل ملاحظات
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="direction:ltr;">
        <button type="button" style="border-radius: 20px;" (click)="modal.dismiss('Close')" class="btn btn-secondary"
                data-dismiss="modal">
            إغلاق
        </button>
        <button type="button" style="border-radius: 20px;"  *ngIf="is_edit"   (click)="update_department()"
                class="btn btn-primary">
            تعديل
        </button>
        <button type="button" style="border-radius: 20px;"  *ngIf="!is_edit"   (click)="add_activity()"
                class="btn btn-primary">
            اضافة
        </button>
    </div>

</ng-template>