<div class="card" dir="rtl"
     *ngIf="priv_info.length > 0 && (priv_info[0].write === 1 || priv_info[0].read_and_write === 1)">
    <div class="card-header">
        <h3 style="display:flex;">استبيان Swot</h3>
    </div>
    <div class="card-body">

        <button type="button" style="display:block;" class="btn btn-primary"
                (click)="openModal(content, $event)"
                id="modalOpener">
            اضافة استبيان
        </button>
        <br />
    </div>
</div>

<div *ngIf="priv_info.length > 0 && (priv_info[0].read === 1 || priv_info[0].read_and_write === 1)">
    <kt-swot-list></kt-swot-list>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
            <i class="fas fa-tasks" style="margin:5px;"></i>
            اضافة استبيان
        </h3>
    </div>

    <div class="modal-body">
        <form dir="rtl" class="kt-form" [formGroup]="form1">
            <div dir="rtl" class="kt-portlet__body">
                <div class="kt-form__section kt-form__section--first">

                    <div class="form-group kt-form__group text-right">

                        <div class="container">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="form-group kt-form__group row">

                                        <div class="col-lg-4">
                                            <mat-form-field>

                                                <mat-label>
                                                    القسم
                                                </mat-label>
                                                <!--
                                                <input name="department"
                                                       type="text"
                                                       matInput
                                                       [(ngModel)]="selecteddepartment"
                                                       placeholder=""
                                                       [formControl]="myControl"
                                                       [matAutocomplete]="auto"
                                                       forceSelection="dep_name">
                                                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                                                    <mat-option *ngFor="let department of filteredOptions  | async" [value]="department">
                                                        {{ department.dep_name }}
                                                    </mat-option>
                                                </mat-autocomplete>

                                            </mat-form-field>
                                        -->
                                        <mat-select required name="emp"
                                            [ngModelOptions]="{standalone: true}"
                                            [(ngModel)]="selecteddepartment"
                                            placeholder="">

                                            <mat-option *ngFor="let dept of departments" [value]="dept">
                                                {{ dept.dep_name }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                        </div>

                                        <div class="col-1"></div>
                                     
                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <mat-label>نقاط القوه</mat-label>
                                                <textarea [(ngModel)]="strength"
                                                          [ngModelOptions]="{standalone: true}"
                                                          matInput
                                                          placeholder=""
                                                          [(value)]="strength"></textarea>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="form-group kt-form__group row">


                                        <div class="col-lg-4">
                                            <mat-form-field>

                                                <mat-label>الفرص</mat-label>
                                                <textarea [(ngModel)]="chances"
                                                          [ngModelOptions]="{standalone: true}"
                                                          matInput
                                                          placeholder=""
                                                          [(value)]="chances"></textarea>
                                            </mat-form-field>
                                        </div>

                                        <div class="col-1"></div>

                                
                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <mat-label>التهديدات</mat-label>
                                                <textarea [(ngModel)]="risks"
                                                          [ngModelOptions]="{standalone: true}"
                                                          matInput
                                                          placeholder=""
                                                          [(value)]="risks"></textarea>

                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="direction:ltr;">
        <button type="button" style="border-radius: 20px;" (click)="modal.dismiss('Close')" class="btn btn-secondary"
                data-dismiss="modal">
            إغلاق
        </button>
        <button type="button" style="border-radius: 20px;" (click)="update_department()"
                class="btn btn-primary">
            تعديل
        </button>
        <button type="button" style="border-radius: 20px;" (click)="add_department()"
                class="btn btn-primary">
            اضافة
        </button>
    </div>

</ng-template>
