<div class="row" *ngIf="head == 1">
    <div class="col-lg-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-caption">
                    <div class="kt-portlet__head-title">
                        <span class="kt-portlet__head-icon kt-hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-text">
                            <i class="fas fa-tasks" style="margin:5px;"></i>
                            جدول الحصص
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="kt-form kt-form--label-align-right kt-form--group-seperator-dashed" [formGroup]="form1">
                <div class="kt-portlet__body">
                    <div class="kt-form__section kt-form__section--first">


                        <div class="form-group kt-form__group row">

                            <div class="col-lg-4">
                                            <mat-form-field>
                                                <!--<mat-label>
                                                    الصف
                                                </mat-label>-->
                                                <input name="level" type="text" matInput [(ngModel)]="selectedlevel"
                                                       (ngModelChange)="change_level($event)" placeholder="أختر الصف" [formControl]="myControllev"
                                                       [matAutocomplete]="autolevel" forceSelection="lev_name">
                                                <mat-autocomplete autoActiveFirstOption #autolevel="matAutocomplete" [displayWith]="displayFnlev">
                                                    <mat-option *ngFor="let level of filteredOptionslev  | async" [value]="level">
                                                        {{ level.lev_name }}
                                                    </mat-option>
                                                </mat-autocomplete>

                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="form-group kt-form__group row">
                                  
                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <!--<mat-label>
                                                    الفصل
                                                </mat-label>-->
                                                <input name="class" type="text" matInput [(ngModel)]="selectedclass"
                                                       (ngModelChange)="change_class($event)" placeholder="أختر الفصل" [formControl]="myControlclass"
                                                       [matAutocomplete]="autoclass" forceSelection="class_name">
                                                <mat-autocomplete autoActiveFirstOption #autoclass="matAutocomplete" [displayWith]="displayFnclass">
                                                    <mat-option *ngFor="let class of filteredOptionsclass  | async" [value]="class">
                                                        {{ class.class_name }}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
                                <div class="container-fluid">
                                    <app-pagetitle title="Calendar" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="app-calendar">
                                                        calendar
                                                        <full-calendar #calendar defaultView="dayGridMonth" id="calendarID" [header]="{
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'}" [plugins]="calendarPlugins"
                                                                       (eventResize)="yourEventResizeFunction($event)" eventResizableFromStart="true"
                                                                       [eventLimit]="true" [editable]="true" [weekends]="calendarWeekends" themeSystem='bootstrap'
                                                                       [bootstrapFontAwesome]="true" deepChangeDetection="true" [events]="calendarEvents"
                                                                       (dateClick)="openModal(content, $event)" (eventClick)="openEditModal(editcontent, $event)"
                                                                       (eventDrop)="onEventDrop(editcontent, $event)">
                                                        </full-calendar>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <ng-template #content let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title">اضافه حصه</h5>
                                        <button type="button" class="close" aria-hidden="true" (click)="closeEventModal()"></button>
                                    </div>
                                    <div class="modal-body p-3">
                                        <form [formGroup]="formData">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">اسم الماده</label>

                                                        <mat-form-field class="example-full-width">
                                                            <mat-select name="department" (ngModelChange)="change_subject($event)"
                                                                        formControlName="selectedsubjects1" [(ngModel)]="selectedsubjects1" placeholder="الماده"
                                                                        id="departmentsdropdown">

                                                                <mat-option *ngFor="let subjects of subjects" [value]="subjects">
                                                                    {{ subjects.subject_name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <!--<input class="form-control" placeholder="Insert Event Name" type="text" name="title"
                                                        >-->
                                                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                                                            <span *ngIf="form.title.errors.required">This value is required.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">المدرس</label>
                                                        <mat-form-field class="example-full-width">
                                                            <mat-select name="department" formControlName="selectedemp" [(ngModel)]="selectedemp" (selectionChange)="employeeChanged($event.value)"
                                                                        placeholder="المدرس">
                                                                <mat-option *ngFor="let emp of emps" [value]="emp">
                                                                    {{ emp.emp_name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>


                                                        <!--<select class="form-control"
                                                                name="category" formControlName="category" [ngClass]="{'is-invalid': submitted && form.category.errors }">
                                                            <option *ngFor="let option of category" value="{{ option.value }}">
                                                                {{ option.name }}
                                                            </option>
                                                        </select>-->
                                                        <div *ngIf="submitted && form.category.errors" class="invalid-feedback">
                                                            <div *ngIf="form.category.errors.required">This value is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">المدرسين الاحتياطى</label>
                                                        <mat-form-field class="example-full-width">
                                                            <mat-select name="department" formControlName="selectedreplaceemp"
                                                                        [(ngModel)]="selectedreplaceemp" placeholder="المدرسين الاحتياطى" multiple>
                                                                <mat-option *ngFor="let emp of filteredEmps" [value]="emp">
                                                                    {{ emp.emp_name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <!-- <select [(ngModel)]="selecteddepartment"
                                                                placeholder="المدرس"
                                                                id="departmentsdropdown"
                                                                formControlName="category"
                                                                class="form-control"
                                                                multiple
                                                                [ngClass]="{'is-invalid': submitted && form.category.errors}">
                                                            <option value="null" disabled="true" [selected]="true">Placeholder text..</option>
                                                            <option *ngFor="let emp of Employees" [value]="emp">
                                                                {{ emp.emp_name }}
                                                            </option>
                                                        </select> -->
                                                        <!--<select class="form-control"
                                                                name="category" formControlName="category" [ngClass]="{'is-invalid': submitted && form.category.errors }">
                                                            <option *ngFor="let option of category" value="{{ option.value }}">
                                                                {{ option.name }}
                                                            </option>
                                                        </select>-->
                                                        <div *ngIf="submitted && form.category.errors" class="invalid-feedback">
                                                            <div *ngIf="form.category.errors.required">This value is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="text-right pt-4">
                                                <button type="button" class="btn btn-light" (click)="closeEventModal()">Close</button>
                                                <button type="submit" class="btn btn-success save-event ml-1" (click)="saveEvent()">Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </ng-template>


                                <ng-template #editcontent let-modal>
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit Event</h5>
                                        <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
                                    </div>
                                    <div class="modal-body p-3">
                                        <form [formGroup]="formEditData" (ngSubmit)="editEventSave()">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">اسم الماده</label>

                                                        <mat-form-field class="example-full-width">
                                                            <mat-select name="department" [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="selectedsubjects1" placeholder="القسم الرئيسي" id="departmentsdropdown">

                                                                <mat-option *ngFor="let subjects of subjects" [value]="subjects">
                                                                    {{ subjects.subject_name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <!--<input class="form-control" placeholder="Insert Event Name" type="text" name="title"
                                                        >-->
                                                        <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                                                            <span *ngIf="form.title.errors.required">This value is required.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">المدرس</label>
                                                        <mat-form-field class="example-full-width">
                                                            <mat-select name="department" [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="selectedemp" placeholder="القسم الرئيسي">
                                                                <mat-option *ngFor="let emp of Employees" [value]="emp">
                                                                    {{ emp.emp_name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>


                                                        <!--<select class="form-control"
                                                                name="category" formControlName="category" [ngClass]="{'is-invalid': submitted && form.category.errors }">
                                                            <option *ngFor="let option of category" value="{{ option.value }}">
                                                                {{ option.name }}
                                                            </option>
                                                        </select>-->
                                                        <div *ngIf="submitted && form.category.errors" class="invalid-feedback">
                                                            <div *ngIf="form.category.errors.required">This value is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <label class="control-label">المدرسين الاحتياطى</label>
                                                        <mat-form-field class="example-full-width">
                                                            <mat-select name="department" [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="selectedreplaceemp" placeholder="القسم الرئيسي" multiple>
                                                                <mat-option *ngFor="let emp of Employees" [value]="emp">
                                                                    {{ emp.emp_name }}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <!-- <select [(ngModel)]="selecteddepartment"
                                                                placeholder="المدرس"
                                                                id="departmentsdropdown"
                                                                formControlName="category"
                                                                class="form-control"
                                                                multiple
                                                                [ngClass]="{'is-invalid': submitted && form.category.errors}">
                                                            <option value="null" disabled="true" [selected]="true">Placeholder text..</option>
                                                            <option *ngFor="let emp of Employees" [value]="emp">
                                                                {{ emp.emp_name }}
                                                            </option>
                                                        </select> -->
                                                        <!--<select class="form-control"
                                                                name="category" formControlName="category" [ngClass]="{'is-invalid': submitted && form.category.errors }">
                                                            <option *ngFor="let option of category" value="{{ option.value }}">
                                                                {{ option.name }}
                                                            </option>
                                                        </select>-->
                                                        <div *ngIf="submitted && form.category.errors" class="invalid-feedback">
                                                            <div *ngIf="form.category.errors.required">This value is required</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                    <div class="text-right p-3">
                                        <button type="button" class="btn btn-light" (click)="modal.dismiss('Close')">Close</button>
                                        <button type="button" class="btn btn-danger delete-event ml-1" (click)="confirm()">Delete</button>
                                        <button type="button" class="btn btn-success ml-1" (click)="editEventSave()">Save</button>
                                    </div>
                                </ng-template>
