<div class="card" dir="rtl" *ngIf="priv_info.length > 0 && (priv_info[0].write === 1 || priv_info[0].read_and_write === 1)">
    <div class="card-header">
        <h3 style="display:flex;">بيانات المادة</h3>
    </div>
    <div class="card-body">
        <button type="button" style="display:block;" class="btn btn-primary"  id="modalOpenersubject"  (click)="openModal(content, $event)">اضافة مادة</button>
        <br /><br /><br />
                    <kt-subjects-list></kt-subjects-list>
    </div>
</div>

<ng-template #content let-modal>
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    <i class="fas fa-tasks" style="margin:5px;"></i>
                    اضافة مادة
                </h3>
            </div>

            <div class="modal-body">
                <form dir="rtl" class="kt-form" [formGroup]="form1">
                    <div dir="rtl" class="kt-portlet__body">
                        <div class="kt-form__section kt-form__section--first">

                            <div class="form-group kt-form__group text-right">

                                <div class="container">
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">
                                                    مسلسل:

                                                </label>
                                                <div class="col-lg-4">
                                                  
                                                        <mat-form-field>
                                                            <input matInput placeholder="" [(ngModel)]="subject_id" formControlName="subject_id" name="subject_id" readonly="readonly"/>

                                                        </mat-form-field>
                                                </div>
                                                <div class="col-1"></div>
                                                <label class="col-lg-1 col-form-label">
                                                     المادة:
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <input [(ngModel)]="subject_name" formControlName="subject_name"
                                                               required matInput placeholder="أدخل اسم الماده" type="text"/>

                                                        <mat-error *ngIf="
  form1.controls.subject_name.hasError('required') &&
  (form1.controls.subject_name.dirty || form1.controls.subject_name.touched)
">
                                                            من فضلك أدخل اسم الماده
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">
                                                    وصف:

                                                </label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <textarea [(ngModel)]="subject_desc" [ngModelOptions]="{standalone: true}" matInput placeholder="أدخل الوصف" type="text"></textarea>

                                                    </mat-form-field>
                                                </div>
                                                <div class="col-1"></div>
                                                <label class="col-lg-1 col-form-label">
                                                    القسم:
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <mat-select required formControlName="selecteddepartment"
                                                                    name="department"
                                                                    [(ngModel)]="selecteddepartment"
                                                                    (ngModelChange)="get_side_dep($event)"
                                                                    placeholder="أختر القسم">
                                                            <mat-option *ngFor="let department of departments" [value]="department">
                                                                {{ department.dep_name }}
                                                            </mat-option>
                                                        </mat-select>

                                                        <mat-error *ngIf="
  form1.controls.selecteddepartment.hasError('required') &&
  (form1.controls.selecteddepartment.dirty || form1.controls.selecteddepartment.touched)
">
                                                            من فضلك أختر القسم
                                                        </mat-error>

                                                    </mat-form-field>
                                                </div>
                                            </div>


                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">
                                                  

                                                </label>
                                                <div class="col-lg-4">
                                                    <div class="kt-checkbox-list">
                                                        <mat-checkbox id="side_dep_chck" name="side_dep_chck" (change)="side_dep_chck_change($event)" [checked]="dep_check">قسم فرعي</mat-checkbox>

                                                    </div>
                                                </div>
                                                <div class="col-1"></div>
                                                <label class="col-lg-1 col-form-label">
                                                    القسم:

                                                </label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
														<input name="dep_name"
															   type="text"
															   matInput
															   [(ngModel)]="selectedsidedepartment"
                                                               placeholder="القسم-الفرعي"
															   [formControl]="myControlSideDept"
															   [matAutocomplete]="autoDept"
															   forceSelection="dep_name"
															   [(value)]="sideValue">
														<mat-autocomplete autoActiveFirstOption #autoDept="matAutocomplete" [displayWith]="displayFnlev">
															<mat-option *ngFor="let side_departments of filteredOptionsDept  | async" [value]="side_departments">
																{{ side_departments.dep_name }}
															</mat-option>
														</mat-autocomplete>

													</mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                          
                                       </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer" style="direction:ltr;">
                
  <button type="button" style="border-radius: 20px;" (click)="modal.dismiss('Close')" class="btn btn-secondary"
  data-dismiss="modal">
  إغلاق
</button>
                <button type="button" style="border-radius: 20px;"  *ngIf="is_edit"   (click)="update_subject()" class="btn btn-primary">تعديل</button>
                <button type="button" style="border-radius: 20px;"  *ngIf="!is_edit"  (click)="add_subject()" class="btn btn-primary">اضافة</button>
            </div>
        </ng-template>