<!--Activity Data-->
<!--<div *ngIf="priv_info.length > 0 && (priv_info[0].write === 1 || priv_info[0].read_and_write === 1)">
    <div class="row">
        <div class="col-lg-12">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-caption">
                        <div class="kt-portlet__head-title">
                            <span class="kt-portlet__head-icon kt-hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="kt-portlet__head-text">
                                <i class="fas fa-tasks" style="margin:5px;"></i>
                                بنود التقييم
                            </h3>
                        </div>
                    </div>
                </div>-->
                <!--begin::Form-->
                <!--<form class="kt-form kt-form--label-align-right kt-form--group-seperator-dashed" [formGroup]="form1">
                    <div class="kt-portlet__body">



                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">
                                جهه التقييم:
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <mat-form-field>
                                    <mat-select [(ngModel)]="selectedobject"
                                                required formControlName="selectedobject"
                                                id="objectsdropdown"
                                                placeholder="أختر الجهه التي تود تقيمها">
                                        <mat-option *ngFor="let gha of gha" [value]="gha">
                                            {{ gha.def_name }}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error *ngIf="
        form1.controls.selectedobject.hasError('required') &&
        (form1.controls.selectedobject.dirty || form1.controls.selectedobject.touched)
      ">
                                        من فضلك اختر جهه التقييم
                                    </mat-error>

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">
                                المادة:
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <mat-form-field>
                                    <mat-select [(ngModel)]="selectedsubject"
                                                required formControlName="selectedsubject"
                                                id="subjectssdropdown"
                                                placeholder="أختر المادة">
                                        <mat-option *ngFor="let subjects of subjects" [value]="subjects">
                                            {{ subjects.subject_name }}
                                        </mat-option>
                                    </mat-select>

                                    <mat-error *ngIf="
        form1.controls.selectedsubject.hasError('required') &&
        (form1.controls.selectedsubject.dirty || form1.controls.selectedsubject.touched)
      ">
                                        من فضلك اختر المادة
                                    </mat-error>

                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-2 col-form-label">
                                بند التقييم:
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6">
                                <mat-form-field>
                                    <textarea [(ngModel)]="Evaluation_item_name" required formControlName="Evaluation_item_name" matInput placeholder="أدخل بند التقييم" type="email"></textarea>

                                    <mat-error *ngIf="
        form1.controls.Evaluation_item_name.hasError('required') &&
        (form1.controls.Evaluation_item_name.dirty || form1.controls.Evaluation_item_name.touched)
      ">
                                        من فضلك ادخل بند التقييم
                                    </mat-error>

                                </mat-form-field>
                            </div>
                        </div>





                        <div *ngFor="let field of fieldArray; let i = index">
                            <div class="input-group-prepend" *ngIf="i>0">
                                <div (click)="deleteFieldValue(i)" class="input-group-text">
                                    <i class="mdi mdi-close mdi-18px"></i>
                                </div>
                            </div>
                            <div class="form-group kt-form__group row">

                                <label class="col-lg-2 col-form-label">التقدير:</label>
                                <div class="col-lg-6">
                                    <mat-form-field>




                                        <input class="form-control"
                                               type="text"
                                               name="{{ field.name }}"
                                               [ngModelOptions]="{standalone: true}"
                                               [(ngModel)]="field.name"
                                               matInput placeholder="أدخل التقدير الخاص بالبند">



                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-group kt-form__group row">
                                <label class="col-lg-2 col-form-label">الدرجة:</label>
                                <div class="col-lg-6">
                                    <mat-form-field>
                                        <input [(ngModel)]="field.name1"
                                               class="form-control"
                                               type="text"
                                               name="{{ field.name1 }}"
                                               [ngModelOptions]="{standalone: true}"
                                               matInput placeholder="أدخل الدرجة الخاصه بالبند" />


                                    </mat-form-field>
                                </div>

                            </div>





                        </div>
                        <br />
                        <div align="right">
                            <button (click)="addFieldValue(field)" type="button" mat-fab color="primary"><span style="font-size:30px;">+</span></button>&nbsp;
                            <b>أضافه تقدير</b>
            
                        </div>
                    </div>


                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions kt-form__actions">
                            <div class="row">

                                <div class="col-lg-6">
                                    <button id="save_btn" type="button" (click)="add_Evaluation_items()" mat-raised-button color="accent">أضافة بند</button>&nbsp;
                                    <button id="update_btn" type="button" (click)="update_Evaluation_items()" mat-raised-button color="accent">تعديل</button>&nbsp;
                                    <button id="cancel_btn" type="button" (click)="cancel_Evaluation_items()" mat-raised-button color="accent">الغاء</button>&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>


                </form>
         
            </div>
        </div>
    </div>
</div>
<div *ngIf="priv_info.length > 0 && (priv_info[0].read === 1 || priv_info[0].read_and_write === 1)">
    <kt-Evaluationitems-list></kt-Evaluationitems-list>
</div>-->
<!--End Activity Data-->

<div class="card" dir="rtl"
     *ngIf="priv_info.length > 0 && (priv_info[0].write === 1 || priv_info[0].read_and_write === 1)">
    <div class="card-header">
        <h3 style="display:flex;">بنود التقييم</h3>
    </div>
    <div class="card-body">
        <!-- <button type="button" style="display:block;" class="btn btn-primary" data-toggle="modal" id="modalOpener"
        data-target="#formModalAct">اضافة نشاط</button> -->
        <button type="button" style="display:block;" class="btn btn-primary"
                (click)="openModal(content, $event)"
                id="modalOpener">
            اضافة بنود التقييم
        </button>
        <br />
        <button type="button" style="display:block;" class="btn btn-primary"
                (click)="openModal(content1, $event);addFieldValue(field)"
                id="modalOpener">
            اضافة تقدير
        </button>
        <!-- <kt-activities-list></kt-activities-list> -->
    </div>
    <br />
</div>

<div *ngIf="priv_info.length > 0 && (priv_info[0].read === 1 || priv_info[0].read_and_write === 1)">
    <kt-Evaluationitems-list></kt-Evaluationitems-list>
</div>

<ng-template #content1 let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
            <i class="fas fa-tasks" style="margin:5px;"></i>
            اضافة تقدير
        </h3>
    </div>

    <div class="modal-body">
        <form dir="rtl" class="kt-form" [formGroup]="form1">
            <div dir="rtl" class="kt-portlet__body">
                <div class="kt-form__section kt-form__section--first">

                    <div class="form-group kt-form__group text-right">

                        <div class="container">
                            <div class="row">

                                <div class="col-lg-12">

                                    <div *ngFor="let field of fieldArray; let i = index">

                                        <div class="form-group kt-form__group row">


                                            <div class="col-lg-4">
                                                <mat-form-field>

                                                    <!--<mat-label>التقدير</mat-label>-->


                                                    <input
                                                           type="text"
                                                           name="{{ field.name }}"
                                                           [ngModelOptions]="{standalone: true}"
                                                           [(ngModel)]="field.name"
                                                           matInput placeholder="التقدير">



                                                </mat-form-field>
                                            </div>

                                            <div class="col-1"></div>


                                            <div class="col-lg-4">
                                                <mat-form-field>
                                                    <!--<mat-label>الدرجة</mat-label>-->
                                                    <input [(ngModel)]="field.name1"
                                                        
                                                           type="text"
                                                           name="{{ field.name1 }}"
                                                           [ngModelOptions]="{standalone: true}"
                                                           matInput placeholder="الدرجة" />


                                                </mat-form-field>
                                            </div>

                                        </div>
                                        </div>

                                    </div>

                                </div>

                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="modal-footer" style="direction:ltr;">
        <button type="button" style="border-radius: 20px;" (click)="modal.dismiss('Close')" class="btn btn-secondary"
                data-dismiss="modal">
            إغلاق
        </button>
        <button id="update_btn" type="button" (click)="update_Evaluation_items()" style="border-radius: 20px;"
                class="btn btn-primary">
            تعديل
        </button>
        <button id="save_btn" type="button" (click)="add_Evaluation_items()" style="border-radius: 20px;"
                class="btn btn-primary">
            اضافة
        </button>
    </div>

</ng-template>

<ng-template #content let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
            <i class="fas fa-tasks" style="margin:5px;"></i>
            اضافة بنود التقييم
        </h3>
    </div>

    <div class="modal-body">
        <form dir="rtl" class="kt-form" [formGroup]="form1">
            <div dir="rtl" class="kt-portlet__body">
                <div class="kt-form__section kt-form__section--first">

                    <div class="form-group kt-form__group text-right">

                        <div class="container">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="form-group kt-form__group row">



                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <!--<mat-label>
                    جهه التقييم
                </mat-label>-->
                                                <mat-select [(ngModel)]="selectedobject"
                                                            required formControlName="selectedobject"
                                                            id="objectsdropdown"
                                                            placeholder="جهه التقييم">
                                                    <mat-option *ngFor="let gha of gha" [value]="gha">
                                                        {{ gha.def_name }}
                                                    </mat-option>
                                                </mat-select>

                                                <mat-error *ngIf="
        form1.controls.selectedobject.hasError('required') &&
        (form1.controls.selectedobject.dirty || form1.controls.selectedobject.touched)
      ">
                                                    من فضلك اختر جهه التقييم
                                                </mat-error>

                                            </mat-form-field>
                                        </div>

                                        <div class="col-1"></div>


                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <!--<mat-label>
                                                    المادة
                                                </mat-label>-->
                                                <mat-select [(ngModel)]="selectedsubject"
                                                            required formControlName="selectedsubject"
                                                            id="subjectssdropdown"
                                                            placeholder="المادة">
                                                    <mat-option *ngFor="let subjects of subjects" [value]="subjects">
                                                        {{ subjects.subject_name }}
                                                    </mat-option>
                                                </mat-select>

                                                <mat-error *ngIf="
        form1.controls.selectedsubject.hasError('required') &&
        (form1.controls.selectedsubject.dirty || form1.controls.selectedsubject.touched)
      ">
                                                    من فضلك اختر المادة
                                                </mat-error>

                                            </mat-form-field>
                                        </div>
                                    </div>



                                    <div class="form-group kt-form__group row">

                                        <div class="col-lg-9">
                                            <mat-form-field>
                                                <!--<mat-label>
                    بند التقييم
                </mat-label>-->
                                                <textarea [(ngModel)]="Evaluation_item_name" required formControlName="Evaluation_item_name" matInput placeholder="بند التقييم" type="email"></textarea>

                                                <mat-error *ngIf="
        form1.controls.Evaluation_item_name.hasError('required') &&
        (form1.controls.Evaluation_item_name.dirty || form1.controls.Evaluation_item_name.touched)
      ">
                                                    من فضلك ادخل بند التقييم
                                                </mat-error>

                                            </mat-form-field>
                                        </div>

                                    </div>

                                    <div *ngFor="let field of fieldArray; let i = index">

                                        <div class="form-group kt-form__group row">


                                            <div class="col-lg-4">
                                                <mat-form-field>

                                                    <!--<mat-label>التقدير</mat-label>-->


                                                    <input 
                                                           type="text"
                                                           name="{{ field.name }}"
                                                           [ngModelOptions]="{standalone: true}"
                                                           [(ngModel)]="field.name"
                                                           matInput placeholder="التقدير">



                                                </mat-form-field>
                                            </div>

                                            <div class="col-1"></div>


                                            <div class="col-lg-4">
                                                <mat-form-field>
                                                    <!--<mat-label>الدرجة</mat-label>-->
                                                    <input [(ngModel)]="field.name1"
                                                          
                                                           type="text"
                                                           name="{{ field.name1 }}"
                                                           [ngModelOptions]="{standalone: true}"
                                                           matInput placeholder="الدرجة" />


                                                </mat-form-field>
                                            </div>

                                        </div>
                                        </div>
                                    </div>

                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer" style="direction:ltr;">
        <button type="button" style="border-radius: 20px;" (click)="modal.dismiss('Close')" class="btn btn-secondary"
                data-dismiss="modal">
            إغلاق
        </button>
        <button id="update_btn" type="button"  *ngIf="is_edit"  (click)="update_Evaluation_items()" style="border-radius: 20px;"
                class="btn btn-primary">
            تعديل
        </button>
        <button id="save_btn" type="button" *ngIf="!is_edit"   (click)="add_Evaluation_items()" style="border-radius: 20px;" 
                class="btn btn-primary">
            اضافة
        </button>
    </div>

</ng-template>
