<div *ngIf="priv_info.length > 0 && (priv_info[0].write === 1 || priv_info[0].read_and_write === 1)">
<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-caption">
                    <div class="kt-portlet__head-title">
                        <span class="kt-portlet__head-icon kt-hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-text">
                             الغيابات
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="kt-form kt-form--label-align-right kt-form--group-seperator-dashed" [formGroup]="form1">
                <div class="kt-portlet__body">
                    <div class="form-group kt-form__group row">
                        <b class="col-lg-2 col-form-label">التاريخ:</b>
                        <div class="col-lg-6">
                            
                            <mat-form-field >
                                <input [(ngModel)]="absence_date"  required (dateChange)="date_Change($event)" matInput [matDatepicker]="picker" placeholder="التاريخ">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker ></mat-datepicker>
                          
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group kt-form__group row">
                        <b class="col-lg-2 col-form-label">الصف:</b>
                        <div class="col-lg-6">
                            <mat-form-field >
                                <mat-select [(ngModel)]="selectedlevel"
                                           required formControlName="selectedlevel"
                                            id="levelsdropdown"
                                            placeholder="أختر الصف">

                                    <mat-option *ngFor="let level of Levels" [value]="level">
                                        {{ level.lev_name }}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="
        form1.controls.selectedlevel.hasError('required') &&
        (form1.controls.selectedlevel.dirty || form1.controls.selectedlevel.touched)
      ">
                                    اختر اسم الصف
                                </mat-error>

                            </mat-form-field>
                        </div>
                    </div>

                 

              

                
                </div>
                <div class="kt-portlet__foot kt-portlet__no-border">
                    <div class="kt-form__actions kt-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-6">
                                <button id="show_btn" type="button" (click)="add_absence()" mat-raised-button color="primary">عرض</button>&nbsp;
                             

                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
</div>
<div *ngIf="priv_info.length > 0 && (priv_info[0].read === 1 || priv_info[0].read_and_write === 1)">
<kt-absence-list></kt-absence-list>
</div>
<!--End Activity Data-->