<div *ngIf="priv_info.length > 0 && (priv_info[0].write === 1 || priv_info[0].read_and_write === 1)">
<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-caption">
                    <div class="kt-portlet__head-title">
                        <span class="kt-portlet__head-icon kt-hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-text">
                            <i class="fas fa-tasks" style="margin:5px;"></i>
                            تغيير التشعيب
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="kt-form kt-form--label-align-right kt-form--group-seperator-dashed" [formGroup]="form1">
                <div class="kt-portlet__body">

                    <div class="form-group kt-form__group row">


                        <div class="col-lg-4">
                            <mat-form-field>

                                <mat-label>
                                    الصف
                                </mat-label>
                                <input name="level"
                                       type="text"
                                       matInput
                                       [(ngModel)]="selectedlevel"
                                       (ngModelChange)="change_level($event)"
                                       placeholder=""
                                       [formControl]="myControllev"
                                       [matAutocomplete]="autolevel"
                                       forceSelection="lev_name">
                                <mat-autocomplete autoActiveFirstOption #autolevel="matAutocomplete" [displayWith]="displayFnlev">
                                    <mat-option *ngFor="let level of filteredOptionslev  | async" [value]="level">
                                        {{ level.lev_name }}
                                    </mat-option>
                                </mat-autocomplete>

                            </mat-form-field>
                        </div>

                        <div class="col-1"></div>

                        <div class="col-lg-4">
                            <mat-form-field>
                                <mat-label>الفصل</mat-label>
                                <input name="class"
                                       type="text"
                                       matInput
                                       [(ngModel)]="selectedclass"
                                       (ngModelChange)="change_class($event)"
                                       placeholder=""
                                       [formControl]="myControlclass"
                                       [matAutocomplete]="autoclass"
                                       forceSelection="class_name">
                                <mat-autocomplete autoActiveFirstOption #autoclass="matAutocomplete" [displayWith]="displayFnclass">
                                    <mat-option *ngFor="let class of filteredOptionsclass  | async" [value]="class">
                                        {{ class.class_name }}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="form-group kt-form__group row">


                        <div class="col-lg-4">
                            <mat-form-field>

                                <mat-label>
                                    الطالب
                                </mat-label>
                                <input name="student"
                                       type="text"
                                       matInput
                                       (ngModelChange)="change_student($event)"
                                       [(ngModel)]="selectedstudent"
                                       placeholder=""
                                       [formControl]="myControlstudent"
                                       [matAutocomplete]="autostudent"
                                       forceSelection="student_name">
                                <mat-autocomplete autoActiveFirstOption #autostudent="matAutocomplete" [displayWith]="displayFnstudent">
                                    <mat-option *ngFor="let student of filteredOptionsstudent  | async" [value]="student">
                                        {{ student.student_name }}
                                    </mat-option>
                                </mat-autocomplete>

                            </mat-form-field>
                        </div>

                        <div class="col-1"></div>

                        <div class="col-lg-4">
                            <mat-form-field>
                                <mat-label>تغيير الشعبة الي</mat-label>
                                <mat-select [(ngModel)]="student_branch"
                                            required formControlName="student_branch"
                                            id="studentdropdown"
                                            placeholder="">

                                    <mat-option *ngFor="let branch of branch" [value]="branch">
                                        {{ branch.def_name }}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="
        form1.controls.student_branch.hasError('required') &&
        (form1.controls.student_branch.dirty || form1.controls.student_branch.touched)
      ">
                                    من فضلك اختر الشعبة
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>


                    <!--<div class="form-group kt-form__group row">
                          <b class="col-lg-2 col-form-label">الصف:</b>
                          <div class="col-lg-6 example-container">
                              <mat-form-field>
                                  <input name="level"
                                         type="text"
                                         matInput
                                         [(ngModel)]="selectedlevel"
                                         (ngModelChange)="change_level($event)"
                                         placeholder="أختر الصف"
                                         [formControl]="myControllev"
                                         [matAutocomplete]="autolevel"
                                         forceSelection="lev_name">
                                  <mat-autocomplete autoActiveFirstOption #autolevel="matAutocomplete" [displayWith]="displayFnlev">
                                      <mat-option *ngFor="let level of filteredOptionslev  | async" [value]="level">
                                          {{ level.lev_name }}
                                      </mat-option>
                                  </mat-autocomplete>

                              </mat-form-field>



                          </div>
                      </div>

                      <div class="form-group kt-form__group row">
                          <b class="col-lg-2 col-form-label">الفصل:</b>
                          <div class="col-lg-6 example-container">
                              <mat-form-field>
                                  <input name="class"
                                         type="text"
                                         matInput
                                         [(ngModel)]="selectedclass"
                                         (ngModelChange)="change_class($event)"
                                         placeholder="أختر الفصل"
                                         [formControl]="myControlclass"
                                         [matAutocomplete]="autoclass"
                                         forceSelection="class_name">
                                  <mat-autocomplete autoActiveFirstOption #autoclass="matAutocomplete" [displayWith]="displayFnclass">
                                      <mat-option *ngFor="let class of filteredOptionsclass  | async" [value]="class">
                                          {{ class.class_name }}
                                      </mat-option>
                                  </mat-autocomplete>
                              </mat-form-field>
                          </div>
                      </div>


                      <div class="form-group kt-form__group row">
                          <b class="col-lg-2 col-form-label">الطالب:</b>
                          <div class="col-lg-6 example-container">
                              <mat-form-field>
                                  <input name="student"
                                         type="text"
                                         matInput
                                         (ngModelChange)="change_student($event)"
                                         [(ngModel)]="selectedstudent"
                                         placeholder="أختر الطالب"
                                         [formControl]="myControlstudent"
                                         [matAutocomplete]="autostudent"
                                         forceSelection="student_name">
                                  <mat-autocomplete autoActiveFirstOption #autostudent="matAutocomplete" [displayWith]="displayFnstudent">
                                      <mat-option *ngFor="let student of filteredOptionsstudent  | async" [value]="student">
                                          {{ student.student_name }}
                                      </mat-option>
                                  </mat-autocomplete>
                              </mat-form-field>
                          </div>
                      </div>


                      <div class="form-group kt-form__group row">
                          <b class="col-lg-2 col-form-label">تغيير الشعبة الي:</b>
                          <div class="col-lg-6">
                              <mat-form-field>
                                  <mat-select [(ngModel)]="student_branch"
                                              required formControlName="student_branch"
                                              id="studentdropdown"
                                              placeholder="أختر الشعبة">

                                      <mat-option *ngFor="let branch of branch" [value]="branch">
                                          {{ branch.def_name }}
                                      </mat-option>
                                  </mat-select>

                                  <mat-error *ngIf="
          form1.controls.student_branch.hasError('required') &&
          (form1.controls.student_branch.dirty || form1.controls.student_branch.touched)
        ">
                                      اختر الشعبة
                                  </mat-error>

                              </mat-form-field>
                          </div>
                      </div>-->


                </div>

                <div class="modal-footer" style="direction:ltr;">
                    <button id="update_btn" type="button" style="border-radius: 20px;" (click)="update_branch()"
                            class="btn btn-primary">
                        تعديل
                    </button>
                </div>

                <!--<div class="kt-portlet__foot kt-portlet__no-border">
                    <div class="kt-form__actions kt-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-6">

                                <button id="update_btn" type="button" (click)="update_branch()" mat-raised-button color="primary">تعديل</button>&nbsp;


                            </div>
                        </div>
                    </div>
                </div>-->
            </form>
            <!--end::Form-->
        </div>
    </div>
</div>
</div>
<!--<kt-absence-list></kt-absence-list>-->
<!--End Activity Data-->