<!--Activity Data-->
<!--<div class="row">
    <div class="col-lg-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-caption">
                    <div class="kt-portlet__head-title">
                        <span class="kt-portlet__head-icon kt-hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-text">
                            <i class="fas fa-tasks" style="margin:5px;"></i>
                            استدعاء ولى الامر
                        </h3>
                    </div>
                </div>
            </div>-->
            <!--begin::Form-->
            <!--<form class="kt-form kt-form--label-align-right kt-form--group-seperator-dashed" [formGroup]="form1">
                <div class="kt-portlet__body">
                    <div class="kt-form__section kt-form__section--first">

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-3 col-form-label">
                                الصف:
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6 example-container">
                                <mat-form-field>
                                    <input name="level"
                                           type="text"
                                           matInput
                                           [(ngModel)]="selectedlevel"
                                           (ngModelChange)="change_level($event)"
                                           placeholder="أختر الصف"
                                           [formControl]="myControllev"
                                           [matAutocomplete]="autolevel"
                                           forceSelection="lev_name">
                                    <mat-autocomplete autoActiveFirstOption #autolevel="matAutocomplete" [displayWith]="displayFnlev">
                                        <mat-option *ngFor="let level of filteredOptionslev  | async" [value]="level">
                                            {{ level.lev_name }}
                                        </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>



                            </div>
                        </div>

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-3 col-form-label">
                                الفصل:
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6 example-container">
                                <mat-form-field>
                                    <input name="class"
                                           type="text"
                                           matInput
                                           [(ngModel)]="selectedclass"
                                           (ngModelChange)="change_class($event)"
                                           placeholder="أختر الفصل"
                                           [formControl]="myControlclass"
                                           [matAutocomplete]="autoclass"
                                           forceSelection="class_name">
                                    <mat-autocomplete autoActiveFirstOption #autoclass="matAutocomplete" [displayWith]="displayFnclass">
                                        <mat-option *ngFor="let class of filteredOptionsclass  | async" [value]="class">
                                            {{ class.class_name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>


                        <div class="form-group kt-form__group row">
                            <label class="col-lg-3 col-form-label">
                                الطالب:
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-lg-6 example-container">
                                <mat-form-field>
                                    <input name="student"
                                           type="text"
                                           matInput
                                           [(ngModel)]="selectedstudent"
                                           placeholder="أختر الطالب"
                                           [formControl]="myControlstudent"
                                           [matAutocomplete]="autostudent"
                                           forceSelection="student_name">
                                    <mat-autocomplete autoActiveFirstOption #autostudent="matAutocomplete" [displayWith]="displayFnstudent">
                                        <mat-option *ngFor="let student of filteredOptionsstudent  | async" [value]="student">
                                            {{ student.student_name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-3 col-form-label">التاريخ:</label>
                            <div class="col-lg-6">
                                <mat-form-field>
                                    <input [(ngModel)]="behave_date" [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="picker" placeholder="أختر التاريخ">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>

                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="col-lg-6">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-caption">
                    <div class="kt-portlet__head-title">
                        <span class="kt-portlet__head-icon kt-hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-text">
                            تقرير حالة سلوك الطالب
                        </h3>
                    </div>
                </div>
            </div>-->
            <!--begin::Form-->
            <!--<form class="kt-form" [formGroup]="form1">
                <div class="kt-portlet__body">
                    <div class="kt-form__section kt-form__section--first">

                        <div class="form-group kt-form__group row">
                            <label class="col-lg-3 col-form-label">تقرير حالة سلوك الطالب:</label>
                            <div class="col-lg-6 example-container">
                                <mat-form-field>
                                    <textarea [(ngModel)]="behave_stat_rep" [ngModelOptions]="{standalone: true}" matInput placeholder="أدخل التقرير"></textarea>
                                </mat-form-field>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="kt-portlet__foot">
                    <div class="kt-form__actions kt-form__actions">
                        <div class="row">

                            <div class="col-lg-6">
                                <button id="save_btn" type="button" (click)="add_behav()" mat-raised-button color="accent">حفظ</button>&nbsp;
                                <button id="update_btn" type="button" (click)="update_behav()" mat-raised-button color="accent">تعديل</button>&nbsp;
                                <button id="cancel_btn" type="button" (click)="cancel_behav()" mat-raised-button color="accent">الغاء</button>&nbsp;
                                <button mat-raised-button type="reset">حذف</button>


                            </div>
                        </div>
                    </div>
                </div>
            </form>-->
            <!--end::Form-->
        <!--</div>
    </div>
</div>
<kt-behavioral-list></kt-behavioral-list>-->
<!--End Activity Data-->

<div class="card" dir="rtl">
    <div class="card-header">
        <h3 style="display:flex;">استدعاء ولى الامر</h3>
    </div>
    <div class="card-body">

        <button type="button" style="display:block;" class="btn btn-primary"
                (click)="openModal(content1, $event)"
                id="modalOpener">
            اضافة استدعاء ولى الامر
        </button>



    </div>
    <br />
</div>




<kt-behavioral-list></kt-behavioral-list>

<ng-template #content1 let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">
            <i class="fas fa-tasks" style="margin:5px;"></i>
            اضافة استدعاء ولى الامر
        </h3>
    </div>

    <div class="modal-body">
        <form dir="rtl" class="kt-form" [formGroup]="form1">
            <div dir="rtl" class="kt-portlet__body">
                <div class="kt-form__section kt-form__section--first">

                    <div class="form-group kt-form__group text-right">

                        <div class="container">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="form-group kt-form__group row">

                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <mat-label>
                                                    الصف
                                                </mat-label>
                                                <input name="level"
                                                       type="text"
                                                       matInput
                                                       [(ngModel)]="selectedlevel"
                                                       (ngModelChange)="change_level($event)"
                                                       placeholder=""
                                                       [formControl]="myControllev"
                                                       [matAutocomplete]="autolevel"
                                                       forceSelection="lev_name">
                                                <mat-autocomplete autoActiveFirstOption #autolevel="matAutocomplete" [displayWith]="displayFnlev">
                                                    <mat-option *ngFor="let level of filteredOptionslev  | async" [value]="level">
                                                        {{ level.lev_name }}
                                                    </mat-option>
                                                </mat-autocomplete>

                                            </mat-form-field>
                                        </div>

                                        <div class="col-1"></div>


                                        <div class="col-lg-4">

                                            <mat-form-field>
                                                <mat-label>
                                                    الفصل
                                                </mat-label>
                                                <input name="class"
                                                       type="text"
                                                       matInput
                                                       [(ngModel)]="selectedclass"
                                                       (ngModelChange)="change_class($event)"
                                                       placeholder=""
                                                       [formControl]="myControlclass"
                                                       [matAutocomplete]="autoclass"
                                                       forceSelection="class_name">
                                                <mat-autocomplete autoActiveFirstOption #autoclass="matAutocomplete" [displayWith]="displayFnclass">
                                                    <mat-option *ngFor="let class of filteredOptionsclass  | async" [value]="class">
                                                        {{ class.class_name }}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </div>

                                    <div class="form-group kt-form__group row">
                                        <div class="col-lg-4">
                                            <mat-form-field>
                                                <mat-label>
                                                    الطالب
                                                </mat-label>
                                                <input name="student"
                                                       type="text"
                                                       matInput
                                                       [(ngModel)]="selectedstudent"
                                                       placeholder=""
                                                       [formControl]="myControlstudent"
                                                       [matAutocomplete]="autostudent"
                                                       forceSelection="student_name">
                                                <mat-autocomplete autoActiveFirstOption #autostudent="matAutocomplete" [displayWith]="displayFnstudent">
                                                    <mat-option *ngFor="let student of filteredOptionsstudent  | async" [value]="student">
                                                        {{ student.student_name }}
                                                    </mat-option>
                                                </mat-autocomplete>
                                            </mat-form-field>

                                        </div>

                                        <div class="col-1"></div>


                                        <div class="col-lg-4">
                                            <mat-form-field (click)="picker.open()">
                                                <mat-label>التاريخ</mat-label>
                                                <input [(ngModel)]="behave_date" [ngModelOptions]="{standalone: true}" matInput [matDatepicker]="picker" placeholder="">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>

                                            </mat-form-field>

                                        </div>

                                    </div>

                                    <div class="form-group kt-form__group row">
                                        <div class="col-lg-9">

                                            <mat-form-field>
                                                <mat-label>تقرير حالة سلوك الطالب</mat-label>
                                                <textarea [(ngModel)]="behave_stat_rep" [ngModelOptions]="{standalone: true}" matInput placeholder=""></textarea>
                                            </mat-form-field>
                                        </div>

                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal-footer" style="direction:ltr;">
        <button type="button" style="border-radius: 20px;" (click)="modal.dismiss('Close')" class="btn btn-secondary"
                data-dismiss="modal">
            إغلاق
        </button>
        <button id="update_btn" type="button" style="border-radius: 20px;" (click)="update_behav()" class="btn btn-primary">تعديل</button>
        <button id="save_btn" type="button" style="border-radius: 20px;" (click)="add_behav()"
                class="btn btn-primary">
            حفظ
        </button>
    </div>

</ng-template>