
<div class="row">
    <div class="col-lg-12">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-caption">
                    <div class="kt-portlet__head-title">
                        <span class="kt-portlet__head-icon kt-hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="kt-portlet__head-text">
                            <i class="fas fa-tasks" style="margin:5px;"></i>
                            متابعة الطلاب
                        </h3>
                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form class="kt-form kt-form--label-align-right kt-form--group-seperator-dashed" [formGroup]="form1">
                <div class="kt-portlet__body">
                    <div class="kt-form__section kt-form__section--first">

                        <div class="form-group kt-form__group row">

                            <div class="col-lg-4">
                                <mat-form-field>
                                    <mat-label>
                                        الماده

                                    </mat-label>
                                    <mat-select placeholder=""
                                                (ngModelChange)="change_subject($event)"
                                                [(ngModel)]="selectedsubject"
                                                [ngModelOptions]="{ standalone: true }"
                                                required>
                                        <mat-option *ngFor="let Employee of Employee" [value]="Employee">
                                            {{ Employee.emp_subject_name }}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>

                            <div class="col-1"></div>

                            <div class="col-lg-4">
                                <mat-form-field>
                                    <mat-label>
                                        الصف

                                    </mat-label>
                                    <input name="level"
                                           type="text"
                                           matInput
                                           [(ngModel)]="selectedlevel"
                                           (ngModelChange)="change_level($event)"
                                           placeholder=""
                                           [formControl]="myControllev"
                                           [matAutocomplete]="autolevel"
                                           forceSelection="lev_name">
                                    <mat-autocomplete autoActiveFirstOption #autolevel="matAutocomplete" [displayWith]="displayFnlev">
                                        <mat-option *ngFor="let level of filteredOptionslev  | async" [value]="level">
                                            {{ level.lev_name }}
                                        </mat-option>
                                    </mat-autocomplete>

                                </mat-form-field>
                            </div>
                        </div>



                        <div class="form-group kt-form__group row">

                            <div class="col-lg-4">
                                <mat-form-field>
                                    <mat-label>
                                        الفصل

                                    </mat-label>
                                    <input name="class"
                                           type="text"
                                           matInput
                                           [(ngModel)]="selectedclass"
                                           (ngModelChange)="change_class($event)"
                                           placeholder=""
                                           [formControl]="myControlclass"
                                           [matAutocomplete]="autoclass"
                                           forceSelection="class_name">
                                    <mat-autocomplete autoActiveFirstOption #autoclass="matAutocomplete" [displayWith]="displayFnclass">
                                        <mat-option *ngFor="let class of filteredOptionsclass  | async" [value]="class">
                                            {{ class.class_name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div class="col-1"></div>


                            <div class="col-lg-4">
                                <mat-form-field>
                                    <mat-label>الفتره</mat-label>
                                    <mat-select placeholder=""
                                                [(ngModel)]="selectedterm"
                                                [ngModelOptions]="{ standalone: true }"
                                                required>
                                        <mat-option *ngFor="let School_year_data of School_year_data" [value]="School_year_data">
                                            {{ School_year_data.year_data }}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>
                            </div>

                        </div>

                        <div class="form-group kt-form__group row">

                            <div class="col-lg-4">
                                <mat-form-field (click)="picker.open()">
                                    <mat-label>
                                        تاريخ

                                    </mat-label>
                                    <input [(ngModel)]="date" required (dateChange)="date_Change($event)" matInput [matDatepicker]="picker" placeholder="">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-1"></div>

                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<kt-student_tracking-list></kt-student_tracking-list>
<!--End Activity Data-->