<div class="card" dir="rtl" *ngIf="priv_info.length > 0 && (priv_info[0].write === 1 || priv_info[0].read_and_write === 1)">
    <div class="card-header">
        <h3 style="display:flex;">تعريف الزيارة</h3>
    </div>
    <div class="card-body">
        <button type="button" style="display:block;" class="btn btn-primary"  id="modalOpener"  (click)="openModal(content, $event)">اضافة تعريف</button>
        <br /><br /><br />
                    <kt-visit_types-list></kt-visit_types-list>
    </div>
</div>

<ng-template #content let-modal>
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">
                    <i class="fas fa-tasks" style="margin:5px;"></i>
                    اضافة تعريف
                </h3>
            </div>

            <div class="modal-body">
                <form dir="rtl" class="kt-form" [formGroup]="form1">
                    <div dir="rtl" class="kt-portlet__body">
                        <div class="kt-form__section kt-form__section--first">

                            <div class="form-group kt-form__group text-right">

                                <div class="container">
                                    <div class="row">

                                        <div class="col-lg-12">
                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label"></label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <input matInput placeholder="المسلسل" [(ngModel)]="visit_type_id" [ngModelOptions]="{standalone: true}" name="visit_types_id" disabled>

                                                    </mat-form-field>
                                                </div>
                                                <div class="col-1"><!--extra div--></div>

                                                <label class="col-lg-1 col-form-label"></label>
                                                <div class="col-lg-4">
                                                    <mat-form-field>
                                                        <input placeholder="نوع الزيارة" [(ngModel)]="visit_type_name" [ngModelOptions]="{standalone: true}" matInput>

                                                    </mat-form-field>
                                                </div>

                                            </div>

                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">
                                                    <mat-checkbox id="is_visit_date" (change)="is_visit_date_change($event)" [checked]="is_visit_date_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="visit_date" id="visit_date_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>

                                                </div>
                                                <div class="col-1">
                                                </div>
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">

                                                    <mat-checkbox id="is_phone" (change)="is_phone_chck_change($event)" [checked]="is_phone_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="phone_label" id="is_phone_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>

                                                </div>
                                            </div>

                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">
                                                    <mat-checkbox id="is_start_time" (change)="is_start_time_change($event)" [checked]="is_start_time_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="start_time_label" id="is_start_time_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>

                                                </div>
                                                <div class="col-1">
                                                    <!--extra div-->
                                                </div>
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">

                                                    <mat-checkbox id="is_end_time" (change)="is_end_time_change($event)" [checked]="is_end_time_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="end_time_label" id="is_end_time_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>

                                                </div>

                                            </div>

                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">
                                                    <mat-checkbox id="is_name" (change)="is_name_change($event)" [checked]="is_name_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="name_label" id="is_name_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>

                                                </div>
                                                <div class="col-1">
                                                    <!--extra div-->
                                                </div>
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">

                                                    <mat-checkbox id="is_topic" (change)="is_topic_change($event)" [checked]="is_topic_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="topic_label" id="is_topic_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>

                                                </div>

                                            </div>

                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">
                                                    <mat-checkbox id="is_instructions" (change)="is_instructions_change($event)" [checked]="is_instructions_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="instructions_label" id="is_instructions_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>

                                                </div>
                                                <div class="col-1">
                                                    <!--extra div-->
                                                </div>
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">

                                                    <mat-checkbox id="is_job" (change)="is_job_change($event)" [checked]="is_job_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="job_label" id="is_job_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>



                                                </div>

                                            </div>

                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">
                                                    <mat-checkbox id="is_notes" (change)="is_notes_change($event)" [checked]="is_notes_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="notes_label" id="is_notes_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>

                                                </div>
                                                <div class="col-1">
                                                    <!--extra div-->
                                                </div>
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">

                                                    <mat-checkbox id="is_dep" (change)="is_dep_change($event)" [checked]="is_dep_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="dep_label" id="is_dep_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>

                                                </div>

                                            </div>



                                            <div class="form-group kt-form__group row">
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">
                                                    <mat-checkbox id="is_vnote" (change)="is_vnote_change($event)" [checked]="is_vnote_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="vnote_label" id="is_vnote_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>

                                                </div>
                                                <div class="col-1">
                                                    <!--extra div-->
                                                </div>
                                                <label class="col-lg-1 col-form-label">

                                                </label>
                                                <div class="col-lg-4">

                                                    <mat-checkbox id="is_vpic" (change)="is_vpic_chck_change($event)" [checked]="is_vpic_check">
                                                        <mat-form-field>
                                                            <input [(ngModel)]="vpic_label" id="is_vpic_id" [ngModelOptions]="{standalone: true}" matInput>

                                                        </mat-form-field>
                                                    </mat-checkbox>


                                                </div>

                                            </div>
<!-- asdsd -->
<div class="form-group kt-form__group row">
    <label class="col-lg-1 col-form-label">

    </label>
    <div class="col-lg-4">
        <mat-checkbox id="is_emp_from" (change)="is_emp_from_change($event)" [checked]="is_emp_from_check">
            <mat-form-field>
                <input [(ngModel)]="emp_from_label" id="is_emp_from_id" [ngModelOptions]="{standalone: true}" matInput>

            </mat-form-field>
        </mat-checkbox>

    </div>
    <div class="col-1">
        <!--extra div-->
    </div>
    <label class="col-lg-1 col-form-label">

    </label>
    <div class="col-lg-4">

        <mat-checkbox id="is_emp_to" (change)="is_emp_to_change($event)" [checked]="is_emp_to_check">
            <mat-form-field>
                <input [(ngModel)]="emp_to_label" id="emp_to_id" [ngModelOptions]="{standalone: true}" matInput>

            </mat-form-field>
        </mat-checkbox>


    </div>

</div>
<!-- asdasd -->
<div class="form-group kt-form__group row">
    <label class="col-lg-1 col-form-label">

    </label>
    <div class="col-lg-4">
        <mat-checkbox id="is_takeem" (change)="is_takeem_change($event)" [checked]="is_takeem_check">
            <mat-form-field>
                <input [(ngModel)]="takeem_label" id="is_takeem_id" [ngModelOptions]="{standalone: true}" matInput>

            </mat-form-field>
        </mat-checkbox>

    </div>
    <div class="col-1">
        <!--extra div-->
    </div>
    <label class="col-lg-1 col-form-label">
    </label>
   
</div>
<!-- asdasd -->

                                        </div>

                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer" style="direction:ltr;">
                <button type="button" style="border-radius: 20px;" (click)="modal.dismiss('Close')" class="btn btn-secondary"
                    data-dismiss="modal">
                    إغلاق
                </button> 
                <button type="button" style="border-radius: 20px;" *ngIf="is_edit"  (click)="update()" class="btn btn-primary">تعديل</button>
                <button type="button" style="border-radius: 20px;" *ngIf="!is_edit"  (click)="add()" class="btn btn-primary">اضافة</button>


            </div>
        </ng-template>