/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";
@import "~highlight.js/styles/googlecode.css";
@import "./assets/css/style.angular.rtl.css";

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';
@import '~@fullcalendar/list/main.css';

hide bootstrap dropdown arrow globally .dropdown-toggle::after {
    display: none !important;
}

.mat-select-value {
    padding-bottom: 5px;
}

.mat-input-element:disabled {
    padding-bottom: 5px;
}

input.mat-input-element {
    margin-top: -3em !important;
}

.mat-error {
    margin-bottom: 5px;
}

.mat-table__wrapper--dashboard .mat-table {
    min-width: 600px !important;
    width: 100% !important;
}

.mat-form-field {
    width: 100% !important;
}

// .mat-form-field-outline-end {
//     border-radius: 30px 0 0 30px !important;
// }

// .mat-form-field-outline-start {
//     border-radius: 0 30px 30px 0 !important;
//     //flex-grow: 1;
// }

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
    opacity: 0.7 !important;
}

.mat-form-field {
    text-align: right !important;
}

::ng-deep .mat-form-field-outline-start {
    border-radius: 0 30px 30px 0 !important;
    min-width: 28px !important;
}

::ng-deep .mat-form-field-outline-end {
    border-radius: 0 28px 28px 0 !important;
}

.position-static {
    position: static;
}

// td.fc-sat,
// td.fc-fri {
//     color: #337ab7;
//     border-color: black;
//     background-color: #ffa58c;
// }


// .fc-row .fc-content-skeleton td,
// .fc-row .fc-helper-skeleton td {
//     color: black;
//     background-color: white;
//     border-color: transparent;
//     border-bottom: 0;
// }

.my-ng-fullcalendar {
    width: 50%;
    margin-left: 300px;
}

// ng-fullcalendar {
//     position: absolute;
//     width: 50%;
//     margin-left: 300px;
// }

/*.fc-resizer.fc-end-resizer {
    display: normal;
}*/
// .fc-event {
//     cursor: pointer;
// }

.cdk-overlay-container,
.cdk-overlay-pane {
    z-index: 9999 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: #C7BCA1;
}


// .fc-button {
//     background-color: transparent;
//     border: 1px solid #04AA6D;
//     margin: 5px;
//     color: #04AA6D;
// }

// .fc-button {
//     position: relative;
//     background-color: #04AA6D;
//     border: none;
//     font-size: 28px;
//     color: #FFFFFF;
//     text-align: center;
//     -webkit-transition-duration: 0.4s;
//     /* Safari */
//     transition-duration: 0.4s;
//     text-decoration: none;
//     overflow: hidden;
//     cursor: pointer;
// }

// .fc-button:after {
//     content: "";
//     background: #90EE90;
//     display: block;
//     position: absolute;
//     margin-left: -20px !important;
//     margin-top: -120%;
//     opacity: 0;
//     transition: all 0.8s
// }

// .fc-button:active:after {
//     padding: 0;
//     margin: 0;
//     opacity: 1;
//     transition: 0s
// }